
<div style="width:650px; margin-top:100px; margin-left: auto; margin-right: auto">
  <%= bootstrap_form_for (@article), url:  articles_path do |f| %>
    <%= render 'photoerrors', object: @article %>
    <p>
      <!-- <%= f.label :titulo %><br /> -->
      <%= f.text_field :titulo, :required => true %>
    </p>
    <p>
      <!-- <%= f.label :descripcion %><br /> -->
      <%= f.text_area :descripcion, :required => true %>
    </p>
    <p>
      <!-- <%= f.label :image %> -->
      <%= f.file_field :image, class: 'form-control', :required => true%>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
