<h1><%= @article.titulo %></h1>
<p><%= @article.descripcion %></p>
<%= link_to "Editar Artículo", edit_article_path(@article) %>
<p><%= link_to "Borrar Artículo", article_path(@article), method: :delete,
data: {confirm: "Seguro que quieres borrar este artículo?"}%></p>
<%= link_to "<< Back to Articles List", articles_path %>
