<h1><%= @article.titulo %></h1>
<p><%= @article.descripcion %></p>
<%= render partial: 'showphoto' %>
<%= link_to "Editar Artículo", edit_article_path(@article) %>
<p><%= link_to "Borrar Artículo", article_path(@article), method: :delete,
data: {confirm: "Seguro que quieres borrar este artículo?"}%></p>
<%= button_to 'Volver', articles_path, class: "btn btn-primary" %>
